<h1>NgxLetterImageAvatar</h1>
<img class="app-avatar" src="/assets/images/avatar.png" alt="avatar">
<img class="app-avatar" ngxLetterImageAvatar="John Doe" alt="avatar">
<img class="app-avatar" [ngxLetterImageAvatar]="{ name: 'John Doe' }" alt="avatar">
<img class="app-avatar" [ngxLetterImageAvatar]="{ name: 'Good day to you' }" alt="avatar">
<hr>
<img class="app-avatar-rounded" src="/assets/images/avatar.png" alt="avatar">
<img class="app-avatar-rounded" ngxLetterImageAvatar="John Doe" alt="avatar">
<img class="app-avatar-rounded" [ngxLetterImageAvatar]="{ name: 'John Doe' }" alt="avatar">
<img class="app-avatar-rounded" [ngxLetterImageAvatar]="{ name: 'Good day to you', font: 'monospace' }" alt="avatar">
